<%= simple_form_for @callboard do |f| %>
  <div class="form-group">
    <%= f.input :title, placeholder: "标题",input_html: { class: "form-control"} %>
    <%= f.input :post, placeholder: "内容",input_html: { class: "form-control"} %>
  </div>
  <%= f.submit "点击发布", class: "btn btn-primary", data: { disable_with: "Submiting..." } %>
<% end %>
