<div class="col-md-12">
  <div class="group">
    <%= link_to("添加公告", new_callboard_path, class: "btn btn-primary pull-right") %>
  </div>
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>序号</td>
        <td>标题</td>
        <td>发布时间</td>
        <td>发布者 </td>
      </tr>
    </thead>
    <tbody>
      <% @callboards.each do |callboard| %>
        <tr>
         <td><%= callboard.id%></td>
         <td><%= link_to(callboard.title,callboard_path(callboard))%></td>
         <td><%= callboard.created_at %></td>
         <td> 管理员</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
