<div class="col-md-12">
  <table class="table table-hover">
    <thead>
      <tr>
        <td>日志时间</td>
        <td>用户ID</td>
        <td>桌号</td>
        <td>日志类别</td>
        <td>金额</td>
      </tr>
    </thead>
    <tbody>
      <% @playerfees.each do |playerfee| %>
        <tr>
          <td><%= playerfee.last_update.strftime("%Y/%m/%d  %H:%M:%S") %></td>
          <td><%= playerfee.userid %></td>
          <td><%= playerfee.table_id %></td>
          <td></td>
          <td><%= playerfee.fee %></td>
        </tr>
     <% end %>
    </tbody>
  </table>
</div>
