<%= link_to "新增推广员", signup_path %>
<h2>所有用户</h2>
<table class="table">
  <tr>
    <th>用户名</th>
    <th>权限</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.permission %></td>
    </tr>
  <% end %>
</table>
