<div class="col-md-12">
    <h5>所有用户 <%= link_to "新增推广员", signup_path, class:"btn btn-default-1" %></h5>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>用户名</th>
        <th>权限</th>
        <th>代理商ID</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.permission %></td>
          <% if user.permission == "manager" %>
            <td>管理员无推广ID</td>
          <% else %>
            <td><%= user.id %></td>
          <% end %>
        </tr>
      <% end %>
   </tbpdy>
  </table>
</div>
