<%= render "form" %>
<div class="container-row">
  <h5><a href="/saler_overview">菜单选项</a> >> 下线玩家</h5>
</div>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>玩家ID</th>
      <th>玩家昵称</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.account %></td>
      </tr>
    <% end %>
  </tbody>
</table>
