<div class="container-row">
  <table class="table" border:"1px solid white">
    <tr>
      <td  class="text-left">用户 : <%= current_user.name %></td>
      <td  class="text-left">账户余额 : </td>
    </tr>
    <tr>
      <td  class="text-left">推广ID :</td>
      <td  class="text-left">比率 :</td>
    </tr>
    <tr>
      <td  class="text-left">下线玩家 :  位</td>
    </tr>

  </table>

  <%= link_to "下线代理商", saler_info_path %><br>
  <%= link_to "下线玩家", player_info_path %><br>
  <%= link_to "修改密码", "#" %>
</div>
