<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>支付接口</title>

  </head>
  <body>
    <script type="text/javascript">
    function request() {
         var xhr =  new XMLHttpRequest;
         xhr.open('GET', "http://47.100.117.210:8691/update_data?name=@diamond&uid=@uid");
         xhr.send();
     }
    </script>
  </body>
</html>
