<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>支付接口</title>
    <script type="text/javascript">
      httpGet(ctx + "http://47.100.117.210:8691/update_data?diamond=@diamond&uid=@uid");

    </script>
  </head>
  <body>

  </body>
</html>
