@import "material-kit";
@import "bootstrap-sprockets";
@import "bootstrap";

//表格样式
table, td, th {
  text-align: center;
  border:1px solid transparent;
  border-top: 1px solid transparent;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.428571429;
  vertical-align: top;
  border-top: 1px solid #fff;
}
